{
  "username": "{{ username }}",
  "name": "{{ name }}",
  "first_name": "{{ first_name }}",
  "last_name": "{{ last_name }}",
  "email": "{{ email }}",
  "url": "{{ url }}",
  "description": "{{ description }}",
  "locale": "{{ locale }}",
  "nickname": "{{ nickname }}",
  "slug": "{{ slug }}",
  "roles": [
    "{{ roles }}"
  ],
  "password": "{{ password }}"
}